body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14664 {
  position:absolute;
  left:-12px;
  top:-1px;
  width:387px;
  height:660px;
}
#u14665 {
  position:absolute;
  left:2px;
  top:322px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:387px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14666 {
  position:absolute;
  left:-3px;
  top:268px;
  width:376px;
  height:387px;
}
#u14667 {
  position:absolute;
  left:2px;
  top:186px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u14669 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u14670 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u14671 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u14672 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14673 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14674 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u14675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14675 {
  position:absolute;
  left:143px;
  top:35px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14676 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14677 {
  position:absolute;
  left:11px;
  top:77px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14678 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14679 {
  position:absolute;
  left:0px;
  top:104px;
  width:375px;
  height:1px;
}
#u14680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14681 {
  position:absolute;
  left:19px;
  top:193px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14682 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u14683 {
  position:absolute;
  left:-34px;
  top:221px;
  width:409px;
  height:1px;
}
#u14684 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14685 {
  position:absolute;
  left:12px;
  top:232px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14686 {
  position:absolute;
  left:0px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u14687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:2px;
}
#u14687 {
  position:absolute;
  left:-23px;
  top:268px;
  width:394px;
  height:1px;
}
#u14688 {
  position:absolute;
  left:2px;
  top:-8px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u14689 {
  position:absolute;
  left:320px;
  top:190px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u14689_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u14689.selected {
}
#u14690 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u14691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14691 {
  position:absolute;
  left:42px;
  top:240px;
  width:161px;
  height:15px;
  font-size:13px;
}
#u14692 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u14693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14694 {
  position:absolute;
  left:213px;
  top:232px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14695 {
  position:absolute;
  left:0px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u14696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14696 {
  position:absolute;
  left:257px;
  top:239px;
  width:94px;
  height:15px;
  font-size:13px;
}
#u14697 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u14698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14698 {
  position:absolute;
  left:19px;
  top:281px;
  width:5px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14699 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u14700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14700 {
  position:absolute;
  left:-1px;
  top:168px;
  width:375px;
  height:9px;
}
#u14701 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14702 {
  position:absolute;
  left:106px;
  top:308px;
  width:140px;
  height:40px;
}
#u14703 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u14704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14704 {
  position:absolute;
  left:11px;
  top:113px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u14706 {
  position:absolute;
  left:0px;
  top:166px;
  width:375px;
  height:1px;
}
#u14707 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14708 {
  position:absolute;
  left:405px;
  top:102px;
  width:194px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14709 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u14710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14710 {
  position:absolute;
  left:302px;
  top:77px;
  width:43px;
  height:20px;
}
#u14711 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u14712 {
  position:absolute;
  left:342px;
  top:72px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u14713 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u14714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14714 {
  position:absolute;
  left:303px;
  top:112px;
  width:43px;
  height:20px;
}
#u14715 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u14716 {
  position:absolute;
  left:343px;
  top:107px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u14717 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u14718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14718 {
  position:absolute;
  left:399px;
  top:213px;
  width:341px;
  height:18px;
  font-size:13px;
}
#u14719 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u14720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14720 {
  position:absolute;
  left:409px;
  top:68px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14721 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14722 {
  position:absolute;
  left:483px;
  top:68px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14723 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14724 {
  position:absolute;
  left:405px;
  top:23px;
  width:239px;
  height:20px;
}
#u14725 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
