body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7220 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u7221 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u7223 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u7225 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7227 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7228 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7229 {
  position:absolute;
  left:144px;
  top:36px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7230 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:2px;
}
#u7232 {
  position:absolute;
  left:-19px;
  top:111px;
  width:395px;
  height:1px;
}
#u7233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7234 {
  position:absolute;
  left:8px;
  top:157px;
  width:99px;
  height:20px;
  color:#999999;
}
#u7235 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7236 {
  position:absolute;
  left:-19px;
  top:184px;
  width:396px;
  height:1px;
}
#u7237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7238 {
  position:absolute;
  left:225px;
  top:78px;
  width:134px;
  height:25px;
}
#u7238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u7238_input {
  font-family:'FontAwesome';
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:355px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7239 {
  position:absolute;
  left:-1px;
  top:300px;
  width:374px;
  height:355px;
}
#u7240 {
  position:absolute;
  left:2px;
  top:170px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7241 {
  position:absolute;
  left:6px;
  top:81px;
  width:113px;
  height:20px;
  color:#999999;
}
#u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7243 {
  position:absolute;
  left:-21px;
  top:147px;
  width:396px;
  height:1px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u7245 {
  position:absolute;
  left:10px;
  top:206px;
  width:77px;
  height:43px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7247 {
  position:absolute;
  left:225px;
  top:117px;
  width:134px;
  height:25px;
}
#u7247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u7247_input {
  font-family:'FontAwesome';
}
#u7248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7248 {
  position:absolute;
  left:6px;
  top:120px;
  width:71px;
  height:20px;
  color:#999999;
}
#u7249 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
