body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14615 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u14616 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u14618 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u14619 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u14620 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u14621 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14622 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14623 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u14624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14624 {
  position:absolute;
  left:143px;
  top:36px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14625 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14626 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u14627 {
  position:absolute;
  left:401px;
  top:172px;
  width:392px;
  height:1px;
}
#u14628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14629 {
  position:absolute;
  left:9px;
  top:90px;
  width:130px;
  height:20px;
}
#u14630 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u14631 {
  position:absolute;
  left:-11px;
  top:118px;
  width:384px;
  height:1px;
}
#u14632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:486px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14633 {
  position:absolute;
  left:-2px;
  top:174px;
  width:375px;
  height:486px;
}
#u14634 {
  position:absolute;
  left:2px;
  top:235px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14635 {
  position:absolute;
  left:102px;
  top:317px;
  width:157px;
  height:40px;
  font-size:16px;
}
#u14636 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u14637 {
  position:absolute;
  left:200px;
  top:88px;
  width:149px;
  height:25px;
}
#u14637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u14637_input {
  font-family:'FontAwesome';
}
#u14638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u14638 {
  position:absolute;
  left:-12px;
  top:163px;
  width:384px;
  height:1px;
}
#u14639 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14640 {
  position:absolute;
  left:10px;
  top:133px;
  width:130px;
  height:20px;
}
#u14641 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14642 {
  position:absolute;
  left:202px;
  top:129px;
  width:149px;
  height:25px;
}
#u14642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u14642_input {
  font-family:'FontAwesome';
}
