body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14135 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u14136 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u14138 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u14139 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u14140 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u14141 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14142 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u14143 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u14144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14144 {
  position:absolute;
  left:143px;
  top:36px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14145 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u14147 {
  position:absolute;
  left:401px;
  top:172px;
  width:392px;
  height:1px;
}
#u14148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14149 {
  position:absolute;
  left:9px;
  top:90px;
  width:130px;
  height:20px;
}
#u14150 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u14151 {
  position:absolute;
  left:-11px;
  top:118px;
  width:384px;
  height:1px;
}
#u14152 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:486px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14153 {
  position:absolute;
  left:-2px;
  top:174px;
  width:375px;
  height:486px;
}
#u14154 {
  position:absolute;
  left:2px;
  top:235px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14155 {
  position:absolute;
  left:102px;
  top:317px;
  width:157px;
  height:40px;
  font-size:16px;
}
#u14156 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
#u14157 {
  position:absolute;
  left:200px;
  top:88px;
  width:149px;
  height:25px;
}
#u14157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u14157_input {
  font-family:'FontAwesome';
}
#u14158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u14158 {
  position:absolute;
  left:-12px;
  top:163px;
  width:384px;
  height:1px;
}
#u14159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14160 {
  position:absolute;
  left:10px;
  top:133px;
  width:130px;
  height:20px;
}
#u14161 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u14162 {
  position:absolute;
  left:202px;
  top:129px;
  width:149px;
  height:25px;
}
#u14162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u14162_input {
  font-family:'FontAwesome';
}
