body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6630 {
  position:absolute;
  left:-1px;
  top:-32px;
  width:376px;
  height:700px;
}
#u6631 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u6633 {
  position:absolute;
  left:0px;
  top:25px;
  width:375px;
  height:40px;
}
#u6634 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u6635 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u6636 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u6637 {
  position:absolute;
  left:-2px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u6638 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6639 {
  position:absolute;
  left:116px;
  top:35px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 204, 153, 0.658823529411765);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6641 {
  position:absolute;
  left:11px;
  top:186px;
  width:150px;
  height:92px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6643 {
  position:absolute;
  left:176px;
  top:192px;
  width:103px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u6644 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6645 {
  position:absolute;
  left:71px;
  top:227px;
  width:30px;
  height:16px;
  text-align:center;
}
#u6646 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 221, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6647 {
  position:absolute;
  left:11px;
  top:315px;
  width:150px;
  height:92px;
}
#u6648 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6649 {
  position:absolute;
  left:166px;
  top:318px;
  width:103px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6650 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6651 {
  position:absolute;
  left:71px;
  top:350px;
  width:30px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6652 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u6653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 221, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6653 {
  position:absolute;
  left:11px;
  top:455px;
  width:150px;
  height:92px;
}
#u6654 {
  position:absolute;
  left:2px;
  top:38px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6655 {
  position:absolute;
  left:71px;
  top:494px;
  width:30px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6656 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u6657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6657 {
  position:absolute;
  left:110px;
  top:605px;
  width:138px;
  height:40px;
  font-size:16px;
}
#u6658 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u6659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6659 {
  position:absolute;
  left:28px;
  top:220px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6660 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u6661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6661 {
  position:absolute;
  left:106px;
  top:220px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6662 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u6663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6663 {
  position:absolute;
  left:180px;
  top:444px;
  width:103px;
  height:16px;
  font-size:18px;
}
#u6664 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665 {
  position:absolute;
  left:183px;
  top:227px;
  width:36px;
  height:25px;
}
#u6665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6665_input {
  font-family:'FontAwesome';
}
#u6666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6667 {
  position:absolute;
  left:30px;
  top:347px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u6669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6669 {
  position:absolute;
  left:105px;
  top:347px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6670 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u6671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6672 {
  position:absolute;
  left:30px;
  top:492px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u6674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6674 {
  position:absolute;
  left:105px;
  top:492px;
  width:37px;
  height:26px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u6676 {
  position:absolute;
  left:73px;
  top:221px;
  width:31px;
  height:25px;
}
#u6676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
  background-color:#FFDDBC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6676_input {
  font-family:'FontAwesome';
}
#u6677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6677 {
  position:absolute;
  left:202px;
  top:261px;
  width:81px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u6678 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u6679 {
  position:absolute;
  left:181px;
  top:253px;
  width:50px;
  height:1px;
}
#u6680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681 {
  position:absolute;
  left:183px;
  top:350px;
  width:36px;
  height:25px;
}
#u6681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6681_input {
  font-family:'FontAwesome';
}
#u6682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6682 {
  position:absolute;
  left:202px;
  top:384px;
  width:71px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u6683 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u6684 {
  position:absolute;
  left:181px;
  top:376px;
  width:50px;
  height:1px;
}
#u6685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6686 {
  position:absolute;
  left:176px;
  top:518px;
  width:147px;
  height:14px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6687 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u6688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6688 {
  position:absolute;
  left:21px;
  top:566px;
  width:205px;
  height:28px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6689 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u6690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6692 {
  position:absolute;
  left:51px;
  top:264px;
  width:263px;
  height:161px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6693 {
  position:absolute;
  left:2px;
  top:42px;
  width:259px;
  word-wrap:break-word;
}
#u6694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:2px;
}
#u6694 {
  position:absolute;
  left:51px;
  top:375px;
  width:263px;
  height:1px;
  text-align:left;
}
#u6695 {
  position:absolute;
  left:2px;
  top:-8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u6696 {
  position:absolute;
  left:184px;
  top:386px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u6697 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u6696_ann {
  position:absolute;
  left:300px;
  top:382px;
  width:1px;
  height:1px;
}
#u6698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u6698 {
  position:absolute;
  left:58px;
  top:386px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u6699 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u6700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6700 {
  position:absolute;
  left:393px;
  top:582px;
  width:197px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6701 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u6702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6702 {
  position:absolute;
  left:172px;
  top:458px;
  width:99px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6703 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u6704 {
  position:absolute;
  left:10px;
  top:143px;
  width:341px;
  height:32px;
}
#u6704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6704_input {
  font-family:'FontAwesome';
}
#u6705 {
  position:absolute;
  left:187px;
  top:77px;
  width:135px;
  height:25px;
}
#u6705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u6705_input {
  font-family:'FontAwesome';
}
#u6706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6706 {
  position:absolute;
  left:13px;
  top:78px;
  width:71px;
  height:20px;
  color:#999999;
}
#u6707 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u6708 {
  position:absolute;
  left:-1px;
  top:109px;
  width:379px;
  height:1px;
}
#u6709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u6710 {
  position:absolute;
  left:-6px;
  top:178px;
  width:379px;
  height:1px;
}
#u6711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6712 {
  position:absolute;
  left:13px;
  top:118px;
  width:57px;
  height:20px;
  color:#999999;
}
#u6713 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:49px;
}
#u6714 {
  position:absolute;
  left:333px;
  top:65px;
  width:47px;
  height:49px;
}
#u6715 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u6716 {
  position:absolute;
  left:225px;
  top:77px;
  width:121px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
  text-align:right;
}
#u6717 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
