body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12654 {
  position:absolute;
  left:-31px;
  top:-11px;
  width:406px;
  height:670px;
}
#u12655 {
  position:absolute;
  left:2px;
  top:327px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u12657 {
  position:absolute;
  left:1px;
  top:25px;
  width:374px;
  height:40px;
}
#u12658 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u12659 {
  position:absolute;
  left:1px;
  top:0px;
  width:374px;
  height:32px;
}
#u12660 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u12661 {
  position:absolute;
  left:0px;
  top:33px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u12662 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u12663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12663 {
  position:absolute;
  left:130px;
  top:35px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12664 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u12666 {
  position:absolute;
  left:25px;
  top:74px;
  width:308px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u12667 {
  position:absolute;
  left:2px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u12668 {
  position:absolute;
  left:62px;
  top:80px;
  width:238px;
  height:20px;
}
#u12668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12668_input {
  font-family:'FontAwesome';
}
#u12669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12669 {
  position:absolute;
  left:40px;
  top:147px;
  width:265px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12670 {
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u12671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u12671 {
  position:absolute;
  left:28px;
  top:180px;
  width:345px;
  height:1px;
}
#u12672 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u12673 {
  position:absolute;
  left:40px;
  top:124px;
  width:254px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  text-align:left;
}
#u12674 {
  position:absolute;
  left:2px;
  top:6px;
  width:250px;
  word-wrap:break-word;
}
#u12675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u12675 {
  position:absolute;
  left:8px;
  top:133px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
  text-align:center;
}
#u12676 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u12677 {
  position:absolute;
  left:40px;
  top:111px;
  width:271px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12678 {
  position:absolute;
  left:395px;
  top:129px;
  width:237px;
  height:80px;
}
#u12679 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
