body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4763 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u4764 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u4766 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u4767 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u4768 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u4769 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4770 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4771 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u4772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:211px;
}
#u4773 {
  position:absolute;
  left:10px;
  top:114px;
  width:1px;
  height:210px;
}
#u4774 {
  position:absolute;
  left:2px;
  top:97px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4775 {
  position:absolute;
  left:214px;
  top:105px;
  width:119px;
  height:16px;
}
#u4776 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4777 {
  position:absolute;
  left:4px;
  top:106px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4777_img.selected {
}
#u4777.selected {
}
#u4778 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4779 {
  position:absolute;
  left:39px;
  top:106px;
  width:36px;
  height:16px;
}
#u4780 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u4781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4781 {
  position:absolute;
  left:3px;
  top:159px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4781_img.selected {
}
#u4781.selected {
}
#u4782 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4783 {
  position:absolute;
  left:37px;
  top:156px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4784 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4786 {
  position:absolute;
  left:418px;
  top:159px;
  width:137px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4787 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u4788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4788 {
  position:absolute;
  left:323px;
  top:168px;
  width:66px;
  height:1px;
}
#u4789 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4790_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4790 {
  position:absolute;
  left:391px;
  top:159px;
  width:17px;
  height:16px;
}
#u4791 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4792 {
  position:absolute;
  left:3px;
  top:210px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4792_img.selected {
}
#u4792.selected {
}
#u4793 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4794 {
  position:absolute;
  left:37px;
  top:207px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4795 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4797 {
  position:absolute;
  left:418px;
  top:210px;
  width:221px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u4799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4799 {
  position:absolute;
  left:323px;
  top:219px;
  width:66px;
  height:1px;
}
#u4800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4801_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4801 {
  position:absolute;
  left:391px;
  top:210px;
  width:17px;
  height:16px;
}
#u4802 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4803 {
  position:absolute;
  left:431px;
  top:240px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4804 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u4805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4805 {
  position:absolute;
  left:214px;
  top:210px;
  width:119px;
  height:16px;
}
#u4806 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4807 {
  position:absolute;
  left:37px;
  top:237px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4808 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4810 {
  position:absolute;
  left:444px;
  top:107px;
  width:118px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4811 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4812 {
  position:absolute;
  left:349px;
  top:116px;
  width:66px;
  height:1px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4814 {
  position:absolute;
  left:417px;
  top:107px;
  width:17px;
  height:16px;
}
#u4815 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4816 {
  position:absolute;
  left:3px;
  top:282px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4816_img.selected {
}
#u4816.selected {
}
#u4817 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4818 {
  position:absolute;
  left:37px;
  top:279px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4821 {
  position:absolute;
  left:418px;
  top:282px;
  width:221px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4822 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u4823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4823 {
  position:absolute;
  left:323px;
  top:291px;
  width:66px;
  height:1px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4825 {
  position:absolute;
  left:391px;
  top:282px;
  width:17px;
  height:16px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4827 {
  position:absolute;
  left:431px;
  top:312px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  position:absolute;
  left:214px;
  top:282px;
  width:119px;
  height:16px;
}
#u4830 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4831 {
  position:absolute;
  left:37px;
  top:309px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4833 {
  position:absolute;
  left:49px;
  top:102px;
  width:253px;
  height:82px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4834 {
  position:absolute;
  left:2px;
  top:32px;
  width:249px;
  word-wrap:break-word;
}
#u4835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4835 {
  position:absolute;
  left:154px;
  top:31px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4837 {
  position:absolute;
  left:-29px;
  top:432px;
  width:402px;
  height:228px;
}
#u4838 {
  position:absolute;
  left:2px;
  top:106px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u4839 {
  position:absolute;
  left:3px;
  top:85px;
  width:140px;
  height:1px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4841 {
  position:absolute;
  left:153px;
  top:76px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u4843 {
  position:absolute;
  left:220px;
  top:85px;
  width:140px;
  height:1px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u4845 {
  position:absolute;
  left:-29px;
  top:359px;
  width:140px;
  height:1px;
}
#u4846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4847 {
  position:absolute;
  left:121px;
  top:350px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4848 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u4849 {
  position:absolute;
  left:188px;
  top:359px;
  width:172px;
  height:1px;
}
#u4850 {
  position:absolute;
  left:2px;
  top:-8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
