body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13197 {
  position:absolute;
  left:0px;
  top:-33px;
  width:377px;
  height:700px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:342px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u13200 {
  position:absolute;
  left:2px;
  top:24px;
  width:375px;
  height:40px;
}
#u13201 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:-1px;
  width:375px;
  height:32px;
}
#u13203 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u13204 {
  position:absolute;
  left:0px;
  top:32px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u13205 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u13206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13206 {
  position:absolute;
  left:153px;
  top:33px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13207 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13208 {
  position:absolute;
  left:1px;
  top:119px;
  width:375px;
  height:542px;
  overflow:hidden;
}
#u13208_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13208_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13209 {
  position:absolute;
  left:14px;
  top:11px;
  width:18px;
  height:16px;
}
#u13210 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13211 {
  position:absolute;
  left:14px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13211_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13211.selected {
}
#u13212 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13213 {
  position:absolute;
  left:107px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13214 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13215 {
  position:absolute;
  left:201px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13216 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13217 {
  position:absolute;
  left:292px;
  top:39px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13218 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13219 {
  position:absolute;
  left:388px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13220 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:2px;
}
#u13221 {
  position:absolute;
  left:0px;
  top:78px;
  width:457px;
  height:1px;
}
#u13222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13223 {
  position:absolute;
  left:14px;
  top:90px;
  width:18px;
  height:16px;
}
#u13224 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13225 {
  position:absolute;
  left:14px;
  top:119px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13226 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13227 {
  position:absolute;
  left:107px;
  top:119px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13228 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13229 {
  position:absolute;
  left:201px;
  top:119px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13230 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13231 {
  position:absolute;
  left:292px;
  top:118px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13232 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13233 {
  position:absolute;
  left:0px;
  top:157px;
  width:375px;
  height:1px;
}
#u13234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13235 {
  position:absolute;
  left:16px;
  top:173px;
  width:18px;
  height:16px;
}
#u13236 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13237 {
  position:absolute;
  left:16px;
  top:202px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13238 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13239 {
  position:absolute;
  left:109px;
  top:202px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13240 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13241 {
  position:absolute;
  left:203px;
  top:202px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13242 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13243 {
  position:absolute;
  left:294px;
  top:201px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13244 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13245 {
  position:absolute;
  left:2px;
  top:240px;
  width:375px;
  height:1px;
}
#u13246 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13247 {
  position:absolute;
  left:14px;
  top:257px;
  width:18px;
  height:16px;
}
#u13248 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13249 {
  position:absolute;
  left:14px;
  top:286px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13250 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13251 {
  position:absolute;
  left:107px;
  top:286px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13252 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13253 {
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:1px;
}
#u13254 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13208_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13256 {
  position:absolute;
  left:14px;
  top:11px;
  width:18px;
  height:16px;
}
#u13257 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13259 {
  position:absolute;
  left:14px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13260 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13261 {
  position:absolute;
  left:107px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13262 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13263 {
  position:absolute;
  left:201px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13264 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13265 {
  position:absolute;
  left:292px;
  top:39px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13266 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13267 {
  position:absolute;
  left:388px;
  top:40px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13268 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:2px;
}
#u13269 {
  position:absolute;
  left:0px;
  top:78px;
  width:457px;
  height:1px;
}
#u13270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u13271 {
  position:absolute;
  left:337px;
  top:6px;
  width:16px;
  height:22px;
  color:#666666;
}
#u13272 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13273 {
  position:absolute;
  left:14px;
  top:34px;
  width:349px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13274 {
  position:absolute;
  left:14px;
  top:90px;
  width:18px;
  height:16px;
}
#u13275 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u13276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13276 {
  position:absolute;
  left:14px;
  top:119px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13277 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13278 {
  position:absolute;
  left:107px;
  top:119px;
  width:69px;
  height:28px;
  color:#999999;
}
#u13279 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u13280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13280 {
  position:absolute;
  left:0px;
  top:157px;
  width:375px;
  height:1px;
}
#u13281 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u13282 {
  position:absolute;
  left:337px;
  top:89px;
  width:16px;
  height:22px;
  color:#666666;
}
#u13283 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13284 {
  position:absolute;
  left:0px;
  top:7px;
  width:349px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13285 {
  position:absolute;
  left:324px;
  top:3px;
  width:48px;
  height:73px;
}
#u13286 {
  position:absolute;
  left:2px;
  top:28px;
  width:44px;
  word-wrap:break-word;
}
#u13287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13287 {
  position:absolute;
  left:1px;
  top:111px;
  width:375px;
  height:8px;
}
#u13288 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13289 {
  position:absolute;
  left:40px;
  top:75px;
  width:23px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13290 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u13291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13291 {
  position:absolute;
  left:15px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13291_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13291.selected {
}
#u13292 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u13293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13293 {
  position:absolute;
  left:45px;
  top:79px;
  width:23px;
  height:20px;
}
#u13293_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13293.selected {
}
#u13294 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u13295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13295 {
  position:absolute;
  left:89px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13295_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13295.selected {
}
#u13296 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u13297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13297 {
  position:absolute;
  left:119px;
  top:79px;
  width:23px;
  height:20px;
}
#u13297_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13297.selected {
}
#u13298 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u13299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13299 {
  position:absolute;
  left:164px;
  top:73px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13299_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:center;
}
#u13299.selected {
}
#u13300 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u13301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13301 {
  position:absolute;
  left:194px;
  top:79px;
  width:23px;
  height:20px;
}
#u13302 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u13303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13303 {
  position:absolute;
  left:399px;
  top:166px;
  width:155px;
  height:20px;
}
#u13304 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u13305 {
  position:absolute;
  left:89px;
  top:69px;
  width:64px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13306 {
  position:absolute;
  left:399px;
  top:520px;
  width:241px;
  height:40px;
}
#u13307 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u13308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13308 {
  position:absolute;
  left:399px;
  top:16px;
  width:183px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13309 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u13310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13310 {
  position:absolute;
  left:399px;
  top:265px;
  width:15px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13311 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u13312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13312 {
  position:absolute;
  left:399px;
  top:99px;
  width:238px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13313 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u13314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13314 {
  position:absolute;
  left:399px;
  top:235px;
  width:295px;
  height:40px;
}
#u13315 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
