body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4620 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u4621 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u4623 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u4624 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u4625 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4627 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u4628 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4629 {
  position:absolute;
  left:141px;
  top:36px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:2px;
}
#u4632 {
  position:absolute;
  left:-19px;
  top:111px;
  width:395px;
  height:1px;
}
#u4633 {
  position:absolute;
  left:2px;
  top:-8px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u4634 {
  position:absolute;
  left:-17px;
  top:76px;
  width:91px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u4635 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u4636 {
  position:absolute;
  left:188px;
  top:78px;
  width:178px;
  height:25px;
}
#u4636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u4636_input {
  font-family:'FontAwesome';
}
#u4637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4638 {
  position:absolute;
  left:7px;
  top:153px;
  width:287px;
  height:20px;
  color:#999999;
}
#u4639 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u4640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u4640 {
  position:absolute;
  left:-20px;
  top:180px;
  width:396px;
  height:1px;
}
#u4641 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4642 {
  position:absolute;
  left:5px;
  top:117px;
  width:222px;
  height:20px;
  color:#999999;
}
#u4643 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u4644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u4644 {
  position:absolute;
  left:-22px;
  top:143px;
  width:396px;
  height:1px;
}
#u4645 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4646 {
  position:absolute;
  left:185px;
  top:113px;
  width:164px;
  height:26px;
}
#u4646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u4646_input {
  font-family:'FontAwesome';
}
#u4647 {
  position:absolute;
  left:188px;
  top:149px;
  width:164px;
  height:26px;
}
#u4647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u4647_input {
  font-family:'FontAwesome';
}
#u4648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4648 {
  position:absolute;
  left:9px;
  top:193px;
  width:99px;
  height:20px;
  color:#999999;
}
#u4649 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u4650 {
  position:absolute;
  left:-1px;
  top:281px;
  width:379px;
  height:1px;
}
#u4651 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4652 {
  position:absolute;
  left:231px;
  top:191px;
  width:134px;
  height:25px;
}
#u4652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:right;
  border-color:transparent;
  outline-style:none;
}
#u4652_input {
  font-family:'FontAwesome';
}
#u4653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:13px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4653 {
  position:absolute;
  left:-1px;
  top:283px;
  width:375px;
  height:13px;
}
#u4654 {
  position:absolute;
  left:2px;
  top:-2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u4655 {
  position:absolute;
  left:-1px;
  top:225px;
  width:379px;
  height:1px;
}
#u4656 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4657 {
  position:absolute;
  left:10px;
  top:236px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u4659 {
  position:absolute;
  left:77px;
  top:231px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u4660 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u4661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u4661 {
  position:absolute;
  left:78px;
  top:231px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
#u4662 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u4663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:211px;
}
#u4663 {
  position:absolute;
  left:10px;
  top:335px;
  width:1px;
  height:210px;
}
#u4664 {
  position:absolute;
  left:2px;
  top:97px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4665 {
  position:absolute;
  left:214px;
  top:326px;
  width:119px;
  height:16px;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4667 {
  position:absolute;
  left:4px;
  top:327px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4667_img.selected {
}
#u4667.selected {
}
#u4668 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  position:absolute;
  left:39px;
  top:327px;
  width:36px;
  height:16px;
}
#u4670 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4671 {
  position:absolute;
  left:3px;
  top:380px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4671_img.selected {
}
#u4671.selected {
}
#u4672 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4673 {
  position:absolute;
  left:37px;
  top:377px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4674 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4676 {
  position:absolute;
  left:418px;
  top:380px;
  width:137px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4677 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u4678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4678 {
  position:absolute;
  left:323px;
  top:389px;
  width:66px;
  height:1px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4680_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4680 {
  position:absolute;
  left:391px;
  top:380px;
  width:17px;
  height:16px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4682 {
  position:absolute;
  left:3px;
  top:431px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4682_img.selected {
}
#u4682.selected {
}
#u4683 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4684 {
  position:absolute;
  left:37px;
  top:428px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4685 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4687 {
  position:absolute;
  left:418px;
  top:431px;
  width:221px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4689 {
  position:absolute;
  left:323px;
  top:440px;
  width:66px;
  height:1px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4691 {
  position:absolute;
  left:391px;
  top:431px;
  width:17px;
  height:16px;
}
#u4692 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4693 {
  position:absolute;
  left:431px;
  top:461px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4695 {
  position:absolute;
  left:214px;
  top:431px;
  width:119px;
  height:16px;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4697 {
  position:absolute;
  left:37px;
  top:458px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4700 {
  position:absolute;
  left:444px;
  top:328px;
  width:118px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4701 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u4702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4702 {
  position:absolute;
  left:349px;
  top:337px;
  width:66px;
  height:1px;
}
#u4703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4704_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4704 {
  position:absolute;
  left:417px;
  top:328px;
  width:17px;
  height:16px;
}
#u4705 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4706 {
  position:absolute;
  left:3px;
  top:503px;
  width:14px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#669900;
}
#u4706_img.selected {
}
#u4706.selected {
}
#u4707 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4708 {
  position:absolute;
  left:37px;
  top:500px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4709 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4711 {
  position:absolute;
  left:418px;
  top:503px;
  width:221px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4712 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4713 {
  position:absolute;
  left:323px;
  top:512px;
  width:66px;
  height:1px;
}
#u4714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4715 {
  position:absolute;
  left:391px;
  top:503px;
  width:17px;
  height:16px;
}
#u4716 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4717 {
  position:absolute;
  left:431px;
  top:533px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4718 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4719 {
  position:absolute;
  left:214px;
  top:503px;
  width:119px;
  height:16px;
}
#u4720 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u4721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4721 {
  position:absolute;
  left:37px;
  top:530px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4722 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4723 {
  position:absolute;
  left:49px;
  top:323px;
  width:253px;
  height:82px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4724 {
  position:absolute;
  left:2px;
  top:32px;
  width:249px;
  word-wrap:break-word;
}
#u4725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4725 {
  position:absolute;
  left:300px;
  top:37px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4726 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4728 {
  position:absolute;
  left:461px;
  top:43px;
  width:216px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4729 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u4730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4730 {
  position:absolute;
  left:366px;
  top:52px;
  width:66px;
  height:1px;
}
#u4731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4732_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u4732 {
  position:absolute;
  left:434px;
  top:43px;
  width:17px;
  height:16px;
}
#u4733 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u4734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4735 {
  position:absolute;
  left:429px;
  top:262px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4736 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u4737 {
  position:absolute;
  left:334px;
  top:271px;
  width:66px;
  height:1px;
}
#u4738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4739_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:28px;
}
#u4739 {
  position:absolute;
  left:402px;
  top:261px;
  width:17px;
  height:18px;
}
#u4740 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
