body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8687 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u8688 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u8690 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u8691 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u8692 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u8694 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u8695 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u8696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8696 {
  position:absolute;
  left:137px;
  top:36px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8697 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8696_ann {
  position:absolute;
  left:203px;
  top:32px;
  width:1px;
  height:1px;
}
#u8698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8699 {
  position:absolute;
  left:321px;
  top:37px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8700 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:505px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8701 {
  position:absolute;
  left:-1px;
  top:156px;
  width:374px;
  height:505px;
}
#u8702 {
  position:absolute;
  left:2px;
  top:244px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8703 {
  position:absolute;
  left:99px;
  top:518px;
  width:144px;
  height:34px;
  color:#FF0000;
}
#u8703_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8703.selected {
}
#u8704 {
  position:absolute;
  left:2px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u8705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u8705 {
  position:absolute;
  left:55px;
  top:126px;
  width:77px;
  height:17px;
  color:#666666;
}
#u8706 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u8707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066CC;
  text-align:center;
}
#u8707 {
  position:absolute;
  left:22px;
  top:119px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0066CC;
  text-align:center;
}
#u8708 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u8709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u8709 {
  position:absolute;
  left:32px;
  top:76px;
  width:97px;
  height:17px;
  color:#666666;
}
#u8710 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
}
#u8711 {
  position:absolute;
  left:32px;
  top:102px;
  width:196px;
  height:17px;
  color:#666666;
}
#u8712 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u8713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u8713 {
  position:absolute;
  left:-6px;
  top:156px;
  width:379px;
  height:1px;
}
#u8714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u8715 {
  position:absolute;
  left:312px;
  top:76px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3366FF;
  text-align:center;
}
#u8716 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u8715_ann {
  position:absolute;
  left:335px;
  top:72px;
  width:1px;
  height:1px;
}
#u8717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u8717 {
  position:absolute;
  left:316px;
  top:116px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u8718 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u8719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u8719 {
  position:absolute;
  left:516px;
  top:478px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FF0000;
  text-align:center;
}
#u8720 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u8722 {
  position:absolute;
  left:451px;
  top:106px;
  width:182px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u8723 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u8724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u8724 {
  position:absolute;
  left:356px;
  top:115px;
  width:66px;
  height:1px;
}
#u8725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8726_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:26px;
}
#u8726 {
  position:absolute;
  left:424px;
  top:106px;
  width:17px;
  height:16px;
}
#u8727 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u8728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8730 {
  position:absolute;
  left:60px;
  top:222px;
  width:263px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8731 {
  position:absolute;
  left:2px;
  top:44px;
  width:259px;
  word-wrap:break-word;
}
#u8732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:2px;
}
#u8732 {
  position:absolute;
  left:60px;
  top:296px;
  width:263px;
  height:1px;
  text-align:left;
}
#u8733 {
  position:absolute;
  left:2px;
  top:-8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u8734 {
  position:absolute;
  left:193px;
  top:307px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u8735 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u8736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u8736 {
  position:absolute;
  left:67px;
  top:307px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u8737 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
