body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:588px;
}
#u12410 {
  position:absolute;
  left:0px;
  top:72px;
  width:375px;
  height:588px;
}
#u12411 {
  position:absolute;
  left:2px;
  top:286px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:15px;
}
#u12412 {
  position:absolute;
  left:16px;
  top:0px;
  width:348px;
  height:15px;
  font-family:'HiraginoSansGB-W3', '冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
}
#u12413 {
  position:absolute;
  left:2px;
  top:0px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:171px;
}
#u12414 {
  position:absolute;
  left:39px;
  top:105px;
  width:1px;
  height:170px;
}
#u12415 {
  position:absolute;
  left:2px;
  top:77px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12416 {
  position:absolute;
  left:36px;
  top:140px;
  width:8px;
  height:8px;
  color:#FF0000;
}
#u12417 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12418 {
  position:absolute;
  left:65px;
  top:138px;
  width:348px;
  height:34px;
}
#u12419 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u12420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u12420 {
  position:absolute;
  left:35px;
  top:214px;
  width:8px;
  height:8px;
  color:#FF0000;
}
#u12421 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12422 {
  position:absolute;
  left:65px;
  top:213px;
  width:250px;
  height:34px;
}
#u12423 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u12424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u12424 {
  position:absolute;
  left:80px;
  top:98px;
  width:295px;
  height:1px;
}
#u12425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u12426 {
  position:absolute;
  left:80px;
  top:283px;
  width:295px;
  height:1px;
}
#u12427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
}
#u12430 {
  position:absolute;
  left:-1px;
  top:28px;
  width:374px;
  height:40px;
}
#u12431 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
}
#u12432 {
  position:absolute;
  left:-1px;
  top:3px;
  width:374px;
  height:32px;
}
#u12433 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u12434 {
  position:absolute;
  left:-2px;
  top:36px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u12435 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u12436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12436 {
  position:absolute;
  left:132px;
  top:36px;
  width:109px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12437 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
}
#u12438 {
  position:absolute;
  left:16px;
  top:90px;
  width:65px;
  height:14px;
  color:#666666;
  text-align:center;
}
#u12439 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
}
#u12440 {
  position:absolute;
  left:16px;
  top:275px;
  width:83px;
  height:14px;
  color:#666666;
}
#u12441 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
