body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7829 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u7830 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u7832 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u7833 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u7834 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u7835 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7836 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7837 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u7838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7838 {
  position:absolute;
  left:145px;
  top:36px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7839 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7838_ann {
  position:absolute;
  left:229px;
  top:32px;
  width:1px;
  height:1px;
}
#u7840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:352px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7841 {
  position:absolute;
  left:-1px;
  top:308px;
  width:374px;
  height:352px;
}
#u7842 {
  position:absolute;
  left:2px;
  top:168px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u7843 {
  position:absolute;
  left:342px;
  top:318px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u7844 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7846 {
  position:absolute;
  left:5px;
  top:77px;
  width:76px;
  height:20px;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u7848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7848 {
  position:absolute;
  left:-23px;
  top:106px;
  width:396px;
  height:1px;
}
#u7849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  position:absolute;
  left:5px;
  top:157px;
  width:104px;
  height:20px;
}
#u7851 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u7852 {
  position:absolute;
  left:-5px;
  top:186px;
  width:379px;
  height:1px;
}
#u7853 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u7854 {
  position:absolute;
  left:271px;
  top:77px;
  width:86px;
  height:20px;
  color:#999999;
  text-align:right;
}
#u7855 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:82px;
}
#u7856 {
  position:absolute;
  left:5px;
  top:206px;
  width:86px;
  height:82px;
}
#u7857 {
  position:absolute;
  left:2px;
  top:33px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u7858 {
  position:absolute;
  left:4px;
  top:274px;
  width:79px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u7859 {
  position:absolute;
  left:2px;
  top:-1px;
  width:75px;
  word-wrap:break-word;
}
#u7860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7860 {
  position:absolute;
  left:6px;
  top:117px;
  width:71px;
  height:20px;
  color:#999999;
}
#u7861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7862 {
  position:absolute;
  left:-24px;
  top:146px;
  width:396px;
  height:1px;
}
#u7863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7864 {
  position:absolute;
  left:404px;
  top:248px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7868 {
  position:absolute;
  left:56px;
  top:246px;
  width:263px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7869 {
  position:absolute;
  left:2px;
  top:44px;
  width:259px;
  word-wrap:break-word;
}
#u7870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:2px;
}
#u7870 {
  position:absolute;
  left:56px;
  top:320px;
  width:263px;
  height:1px;
  text-align:left;
}
#u7871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u7872 {
  position:absolute;
  left:189px;
  top:331px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u7873 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u7874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u7874 {
  position:absolute;
  left:63px;
  top:331px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u7875 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u7876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7876 {
  position:absolute;
  left:87px;
  top:367px;
  width:157px;
  height:40px;
  font-size:16px;
}
#u7877 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
