body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7666 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u7667 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u7669 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u7670 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u7671 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u7672 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7673 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7674 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u7675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7675 {
  position:absolute;
  left:145px;
  top:36px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7676 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7675_ann {
  position:absolute;
  left:229px;
  top:32px;
  width:1px;
  height:1px;
}
#u7677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:352px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7678 {
  position:absolute;
  left:-1px;
  top:308px;
  width:374px;
  height:352px;
}
#u7679 {
  position:absolute;
  left:2px;
  top:168px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u7680 {
  position:absolute;
  left:342px;
  top:318px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  position:absolute;
  left:5px;
  top:77px;
  width:76px;
  height:20px;
}
#u7684 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u7685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7685 {
  position:absolute;
  left:-23px;
  top:106px;
  width:396px;
  height:1px;
}
#u7686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7687 {
  position:absolute;
  left:5px;
  top:157px;
  width:104px;
  height:20px;
}
#u7688 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u7689 {
  position:absolute;
  left:-5px;
  top:186px;
  width:379px;
  height:1px;
}
#u7690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u7691 {
  position:absolute;
  left:271px;
  top:77px;
  width:86px;
  height:20px;
  color:#999999;
  text-align:right;
}
#u7692 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:82px;
}
#u7693 {
  position:absolute;
  left:5px;
  top:206px;
  width:86px;
  height:82px;
}
#u7694 {
  position:absolute;
  left:2px;
  top:33px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u7695 {
  position:absolute;
  left:4px;
  top:274px;
  width:79px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#ADADAD;
}
#u7696 {
  position:absolute;
  left:2px;
  top:-1px;
  width:75px;
  word-wrap:break-word;
}
#u7697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7697 {
  position:absolute;
  left:6px;
  top:117px;
  width:71px;
  height:20px;
  color:#999999;
}
#u7698 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u7699 {
  position:absolute;
  left:-24px;
  top:146px;
  width:396px;
  height:1px;
}
#u7700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7701 {
  position:absolute;
  left:404px;
  top:248px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7702 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7705 {
  position:absolute;
  left:56px;
  top:246px;
  width:263px;
  height:124px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7706 {
  position:absolute;
  left:2px;
  top:44px;
  width:259px;
  word-wrap:break-word;
}
#u7707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:2px;
}
#u7707 {
  position:absolute;
  left:56px;
  top:320px;
  width:263px;
  height:1px;
  text-align:left;
}
#u7708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u7709 {
  position:absolute;
  left:189px;
  top:331px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u7710 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u7711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#428BCA;
}
#u7711 {
  position:absolute;
  left:63px;
  top:331px;
  width:123px;
  height:36px;
  font-size:14px;
  color:#428BCA;
}
#u7712 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u7713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7713 {
  position:absolute;
  left:87px;
  top:367px;
  width:157px;
  height:40px;
  font-size:16px;
}
#u7714 {
  position:absolute;
  left:2px;
  top:9px;
  width:153px;
  word-wrap:break-word;
}
