body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7366 {
  position:absolute;
  left:-2px;
  top:-38px;
  width:376px;
  height:700px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:342px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u7369 {
  position:absolute;
  left:-1px;
  top:26px;
  width:375px;
  height:40px;
}
#u7370 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
}
#u7371 {
  position:absolute;
  left:-1px;
  top:1px;
  width:375px;
  height:32px;
}
#u7372 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7373 {
  position:absolute;
  left:-2px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
  text-align:center;
}
#u7374 {
  position:absolute;
  left:0px;
  top:-3px;
  width:30px;
  word-wrap:break-word;
}
#u7375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7375 {
  position:absolute;
  left:144px;
  top:36px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7376 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u7378 {
  position:absolute;
  left:-25px;
  top:119px;
  width:392px;
  height:1px;
}
#u7379 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:482px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7380 {
  position:absolute;
  left:-2px;
  top:178px;
  width:375px;
  height:482px;
}
#u7381 {
  position:absolute;
  left:2px;
  top:233px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7382 {
  position:absolute;
  left:9px;
  top:92px;
  width:227px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7383 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u7382_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7384 {
  position:absolute;
  left:312px;
  top:90px;
  width:45px;
  height:20px;
}
#u7385 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7386 {
  position:absolute;
  left:342px;
  top:85px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7387 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u7388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u7388 {
  position:absolute;
  left:-23px;
  top:167px;
  width:392px;
  height:1px;
}
#u7389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7390 {
  position:absolute;
  left:11px;
  top:140px;
  width:177px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7391 {
  position:absolute;
  left:16px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u7390_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7392 {
  position:absolute;
  left:314px;
  top:139px;
  width:45px;
  height:20px;
}
#u7393 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7394 {
  position:absolute;
  left:344px;
  top:133px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u7395 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u7396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7396 {
  position:absolute;
  left:103px;
  top:416px;
  width:138px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7396_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7396.selected {
}
#u7397 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
